<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ichanliu.countdowns.widget">

    <application>
        <receiver
            android:name="com.ichanliu.countdowns.widget.CountdownWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_widget_info" />
        </receiver>
    </application>
</manifest>
